
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div class="admin-panel">
    <ul>
        <li>
            <div class="admin-link">
                <a href="/admin/users">Users management</a>
                <div class="description">
                    Page with user management
                </div>
            </div>
        </li>
    </ul>
</div>

